{%- from "scality/ctdb/ctdb.jinja" import ctdb with context %}
# configure this correctly and rename the file to global_ad.conf after
# - a first start
# - AD join
# - windbind activation

security = ads
realm = {{ ctdb.realm }}
workgroup = {{ ctdb.workgroup }}
idmap config model : backend = rid
idmap config model : range =  2600000-3999999
